.p-paginator .p-dropdown {
  margin: 0;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  min-width: 2rem;
  height: 2rem;

  @media screen and (min-width: $tabletUp) {
    min-width: 3rem;
    height: 3rem;
  }
}
